<h2><%= link_to("Create New", new_product_url) %></h2>
<% @products.each do |product|%>
  <div>
    <h3> <%= link_to("#{product.name}", product_url(product)) %> | Only: <%= product.price_in_dollars %></h3>
    <p> Description: <%= product.description %><p>
    <hr>
  </div>
<%end %>
