<% if @product.errors.full_messages.size >= 1  %>
  <h4>Could not create product because:</h4>
<% end %>

<ul>
<% @product.errors.full_messages.each do |error| %>
  <li>
    <%= "#{error}" %>
  </li>
<% end %>
</ul>

<%= render 'product_form', product: @product %>
